<div class="formlogin">
	<form name="formLogin" ng-submit="formLogin.$valid && loginCtrl.doLogin()" ng-hide="logged" novalidate>
	<fieldset class="form-group">
		<input type="text" class="form-control"  name="username" ng-model="loginCtrl.username" placeholder="User" required >
	</fieldset>
	<fieldset class="form-group">
		<input type="password" class="form-control" name="password" ng-model="loginCtrl.password" placeholder="Password" required />
	</fieldset>
	<fieldset class="form-group">
		<input class="btn btn-primary pull-right" type="submit" value="Login" ng-disabled="!loginCtrl.username.length > 0 || !loginCtrl.password.length > 0"/>
	</fieldset>
	</form>
	
</div>