<menu-directive></menu-directive>

<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Cidade
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pessoa in pessoas">
            <td>{{ pessoa._id }}</td>
            <td>{{ pessoa.name }}</td>
            <td>{{ pessoa.cidade }}</td>
            <td><a ng-click="pessoasCtrl.delete($index)">Remover</a> <a ng-click="">Editar</a> </td>
        </tr>
    </tbody>
</table>